@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
    /* Color Palette */
    --primary: #74c365;
    --secondary: #dbe64c;
    --tertiary: #00804c;
    --dark-blue: #001f3f;
    --white: #f6f7ed;
    --night-blue: #1e488f;
    --background-grey: #e8e8e8;

    /* sizes */
    --border-radius: 12px;

    /* spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

    /* typography */
    --font-family: 'Poppins', sans-serif;


}

@theme {
    --color-primary: #74c365;
    --color-secondary: #dbe64c;
    --color-tertiary: #00804c;
    --color-dark-blue: #001f3f;
    --color-white: #f6f7ed;
    --color-night-blue: #1e488f;
    --color-background-grey: #e8e8e8;
}

button {
    background-color: var(--tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary);
}

button:hover {
    background-color: var(--dark-blue);
}