
.calendar-div {
    height: 600px;
    background-color: var(--white);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
}

.calendar-page-main {
    padding: var(--spacing-large);
}

.calendar-add-buttons {
    display: flex;
    width: 100%;
    margin: var(--spacing-medium);
    justify-content: flex-start;
    flex-direction: row;

}

.calendar-add-buttons > button {
    width: 160px;
    height: 40px;
    border-radius: var(--border-radius);
}

.calendar-deadline {
    background-color: var(--tertiary);
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-small);
    color: var(--secondary);
}

.calendar-deadline h3 {
    font-size: xx-large;
}

.calendar-deadline p {
    font-weight: 500;
    font-size: larger;
}
