/* General Modal Styling */
.modal-Backdrop {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    background: var(--white);
    padding: var(--spacing-medium);
    border-radius: 12px;
    border: 4px var(--primary) solid;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    flex: 1;
    justify-self: center;
    text-align: center;
    color: var(--dark-blue)
}

.modal-close {
    width: 40px;
    height: 40px;
    justify-self: end;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
}


.modal-body {
    display: flex;
    flex-direction: column;
    margin: var(--spacing-small);
    gap: var(--spacing-medium);
}

input {
    background-color: var(--background-grey);
    border-color: var(--dark-blue);
    color: var(--dark-blue);
    cursor: text;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
}

input::placeholder {
    color: var(--dark-blue);
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    align-self: center;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: brightness(0);
}

.modal-submit-button {
    align-self: center;
    justify-self: center;
    margin-top: auto;
    font-size: 18px;
    font-weight: 600;
    width:200px;
    padding: var(--spacing-small);
    border-radius: var(--border-radius);
}

label {
    color: var(--dark-blue);
    font-weight: 600;
}

.spacer {
    flex: 1;
}

/* Add Entry Modal Styling */

.date-row {
    display:flex;
    flex-direction: column;
    gap: var(--spacing-medium)
}

.date-row input {
    margin-left: var(--spacing-medium);
    margin-right: var(--spacing-medium);
}